In [1]:
import pandas as pd # We haven't actually done this in code yet. 
data_lst = [{'a': 1, 'b': 2, 'c':3}, {'a': 4, 'b':5, 'c':6, 'd':7}]
df = pd.DataFrame(data_lst) 
df

   a  b  c    d
0  1  2  3  NaN
1  4  5  6  7.0

In [2]:
data_lst = [{'a': 1}, {'b':5}, {'c': 4}]
df = pd.DataFrame(data_lst)

In [3]:
df

     a    b    c
0  1.0  NaN  NaN
1  NaN  5.0  NaN
2  NaN  NaN  4.0

In [4]:
data_vals = [[1, 2, 3], [4, 5, 6]]
data_cols = ['a', 'b', 'c']
df = pd.DataFrame(data=data_vals, columns=data_cols)
df

   a  b  c
0  1  2  3
1  4  5  6

In [7]:
data_vals = [[1, 2], [4, 5, 6]]
data_cols = ['a', 'b','c']
df = pd.DataFrame(data=data_vals, columns=data_cols)
df

   a  b    c
0  1  2  NaN
1  4  5  6.0

In [8]:
df = pd.read_csv("data/abalone.csv")

In [9]:
df.head()

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [10]:
df.tail()

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [11]:
df.shape

(4177, 9)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   weight_whole    4177 non-null   float64
 5   weight_shucked  4177 non-null   float64
 6   viscera         4177 non-null   float64
 7   shell           4177 non-null   float64
 8   n_rings         4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [13]:
df.describe()

,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [14]:
# Grabs the "sex" column: bracket notation
df['sex']

0       M
1       M
2       F
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: sex, Length: 4177, dtype: object

In [15]:
# Grabs the "sex" column: dot notation
df.sex

0       M
1       M
2       F
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: sex, Length: 4177, dtype: object

In [16]:
# make a copy of your DataFrame
df2 = df.copy()
# make a list column names
cols = df2.columns.tolist()
# replace space with _
cols = [col.replace(' ', '_') for col in cols]
# reassign new column names to DataFrame
df2.columns = cols

In [17]:
df[['sex', 'length']]

     sex  length
0      M   0.455
1      M   0.350
2      F   0.530
3      M   0.440
4      I   0.330
...   ..     ...
4172   F   0.565
4173   M   0.590
4174   M   0.600
4175   F   0.625
4176   M   0.710

[4177 rows x 2 columns]

In [18]:
# This will grab from the beginning up to but not including the row at index 3. 
df[:3]

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.15,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.07,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.21,9

In [19]:
# Loc is label based. All of these will work, because they are recognized as labels on the 
# rows (index labels) or columns (column name labels). 
df.loc[0, 'sex'] # 0 is one of the index labels, and 'sex' is a column label.

'M'

In [20]:
# Ranges on our index labels still work (as long as they're numeric).
df.loc[0:10, 'sex']

0     M
1     M
2     F
3     M
4     I
5     I
6     F
7     F
8     M
9     F
10    F
Name: sex, dtype: object

In [21]:
df.loc[10:15, ['sex', 'length']]

   sex  length
10   F   0.525
11   M   0.430
12   M   0.490
13   F   0.535
14   F   0.470
15   M   0.500

In [22]:
# The above will all work with .iloc, though, since it takes integers (and not labels)
df.iloc[0, 0]
df.iloc[0:10, 0]
df.iloc[10:15, [0, 4]]

   sex  weight_whole
10   F        0.6065
11   M        0.4060
12   M        0.5415
13   F        0.6845
14   F        0.4755

In [23]:
# This just gives us a mask - tells us True or False whether each row fit's the condition.
df['length'] <= 0.4

0       False
1        True
2       False
3       False
4        True
        ...
4172    False
4173    False
4174    False
4175    False
4176    False
Name: length, Length: 4177, dtype: bool

In [24]:
# To use a mask, we actually have to use it to index into the DataFrame (using square brackets). 
df[df['length'] <= 0.4]

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
16,I,0.355,0.280,0.085,0.2905,0.0950,0.0395,0.1150,7
18,M,0.365,0.295,0.080,0.2555,0.0970,0.0430,0.1000,7
20,M,0.355,0.280,0.095,0.2455,0.0955,0.0620,0.0750,11
...,...,...,...,...,...,...,...,...,...
4151,I,0.350,0.250,0.075,0.1695,0.0835,0.0355,0.0410,6
4152,I,0.370,0.280,0.090,0.2180,0.0995,0.0545,0.0615,7
4162,M,0.385,0.255,0.100,0.3175,0.1370,0.0680,0.0920,8
4163,I,0.390,0.310,0.085,0.3440,0.1810,0.0695,0.0790,7
4164,I,0.390,0.290,0.100,0.2845,0.1255,0.0635,0.0810,7

In [25]:
# Okay, this is cool. What if I wanted a slightly more complicated query...
df[(df['length'] <= 0.4) & (df['sex'] == 'F')]

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
71,F,0.400,0.320,0.110,0.3530,0.1405,0.0985,0.1000,8
132,F,0.325,0.260,0.090,0.1915,0.0850,0.0360,0.0620,7
136,F,0.305,0.230,0.080,0.1560,0.0675,0.0345,0.0480,7
226,F,0.390,0.290,0.125,0.3055,0.1210,0.0820,0.0900,7
331,F,0.400,0.325,0.120,0.3185,0.1340,0.0565,0.0950,8
514,F,0.275,0.195,0.070,0.0800,0.0310,0.0215,0.0250,5
519,F,0.345,0.250,0.090,0.2030,0.0780,0.0590,0.0550,6
521,F,0.360,0.270,0.090,0.1885,0.0845,0.0385,0.0550,5
539,F,0.375,0.290,0.115,0.2705,0.0930,0.0660,0.0885,10
544,F,0.380,0.290,0.105,0.2570,0.0990,0.0510,0.0850,10
591,F,0.370,0.290,0.115,0.2500,0.1110,0.0570,0.0750,9
601,F,0.385,0.315,0.110,0.2860,0.1225,0.0635,0.0835,10
602,F,0.390,0.300,0.100,0.2650,0.1075,0.0600,0.0865,13
627,F,0.380,0.305,0.095,0.2815,0.1255,0.0525,0.0900,8
654,F,0.370,0.280,0.110,0.2305,0.0945,0.0465,0.0750,10
663,F,0.380,0.305,0.105,0.2810,0.1045,0.0615,0.0900,12
665,F,0.395,0.295,0.095,0.2245,0.0780,0.0540,0.0800,10
679,F,0.370,0.275,0.100,0.2225,0.0930,0.0260,0.0800,8
699,F,0.395,0.315,0.105,0.3515,0.1185,0.0910,0.1195,16
707,F,0.345,0.260,0.090,0.2070,0.0775,0.0435,0.0765,10
741,F,0.360,0.265,0.090,0.2065,0.0780,0.0570,0.0600,8
1766,F,0.375,0.270,0.135,0.5970,0.2720,0.1310,0.1675,7
2044,F,0.400,0.305,0.160,0.3680,0.1730,0.0705,0.1050,7
2099,F,0.400,0.310,0.115,0.3465,0.1475,0.0695,0.1150,10
2117,F,0.375,0.290,0.080,0.2820,0.1405,0.0725,0.0800,7
2123,F,0.290,0.210,0.075,0.2750,0.1130,0.0675,0.0350,6
2152,F,0.400,0.300,0.115,0.3025,0.1335,0.0465,0.0935,8
2167,F,0.370,0.275,0.085,0.2405,0.1040,0.0535,0.0700,5
2206,F,0.290,0.225,0.075,0.1400,0.0515,0.0235,0.0400,5
2246,F,0.380,0.325,0.110,0.3105,0.1200,0.0740,0.1050,10
2287,F,0.385,0.305,0.105,0.3315,0.1365,0.0745,0.1000,7
2292,F,0.380,0.300,0.090,0.3215,0.1545,0.0750,0.0950,9
2379,F,0.360,0.265,0.090,0.2165,0.0960,0.0370,0.0735,10
2439,F,0.345,0.255,0.100,0.1970,0.0710,0.0510,0.0600,9
2448,F,0.350,0.265,0.090,0.1855,0.0745,0.0415,0.0600,7
2449,F,0.370,0.285,0.105,0.2700,0.1125,0.0585,0.0835,9
2468,F,0.370,0.275,0.080,0.2270,0.0930,0.0625,0.0700,8
2501,F,0.330,0.260,0.080,0.2000,0.0625,0.0500,0.0700,9
3159,F,0.340,0.255,0.085,0.2040,0.0970,0.0210,0.0500,6
3161,F,0.335,0.220,0.070,0.1700,0.0760,0.0365,0.0500,6
3180,F,0.370,0.295,0.100,0.2685,0.1165,0.0560,0.0835,7
3201,F,0.385,0.300,0.100,0.2725,0.1115,0.0570,0.0800,6
3267,F,0.400,0.335,0.115,0.4335,0.2105,0.1205,0.1200,10
3323,F,0.395,0.300,0.105,0.3375,0.1435,0.0755,0.0980,12
3330,F,0.385,0.305,0.125,0.3140,0.1460,0.0555,0.0800,10
3384,F,0.305,0.225,0.070,0.1485,0.0585,0.0335,0.0450,7
3720,F,0.380,0.320,0.115,0.6475,0.3230,0.1325,0.1640,7
3850,F,0.375,0.295,0.110,0.3005,0.1255,0.0575,0.1035,7
3938,F,0.350,0.275,0.065,0.2050,0.0745,0.0465,0.0700,10

In [26]:
# So I could write an arbitrarily complicated query using that syntax... 
df[(df['length'] <= 0.4) & (df['length'] > 0.35) & (df['weight_whole'] > 0.25) & (df['weight_whole'] < 0.3)]

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
16,I,0.355,0.280,0.085,0.2905,0.0950,0.0395,0.1150,7
18,M,0.365,0.295,0.080,0.2555,0.0970,0.0430,0.1000,7
121,I,0.385,0.295,0.085,0.2535,0.1030,0.0575,0.0850,7
127,I,0.385,0.290,0.085,0.2505,0.1120,0.0610,0.0800,8
139,M,0.375,0.285,0.095,0.2530,0.0960,0.0575,0.0925,9
...,...,...,...,...,...,...,...,...,...
3923,M,0.395,0.280,0.080,0.2660,0.0995,0.0660,0.0900,12
3968,I,0.375,0.290,0.095,0.2875,0.1230,0.0605,0.0800,6
3969,I,0.380,0.300,0.090,0.2770,0.1655,0.0625,0.0820,6
3971,I,0.400,0.295,0.095,0.2520,0.1105,0.0575,0.0660,6
4164,I,0.390,0.290,0.100,0.2845,0.1255,0.0635,0.0810,7

In [27]:
# Or I could use the query() method that is available on our DataFrame object. 
df.query('length <= 0.4 and length > 0.35 and weight_whole > 0.25 and weight_whole < 0.3')

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
16,I,0.355,0.280,0.085,0.2905,0.0950,0.0395,0.1150,7
18,M,0.365,0.295,0.080,0.2555,0.0970,0.0430,0.1000,7
121,I,0.385,0.295,0.085,0.2535,0.1030,0.0575,0.0850,7
127,I,0.385,0.290,0.085,0.2505,0.1120,0.0610,0.0800,8
139,M,0.375,0.285,0.095,0.2530,0.0960,0.0575,0.0925,9
...,...,...,...,...,...,...,...,...,...
3923,M,0.395,0.280,0.080,0.2660,0.0995,0.0660,0.0900,12
3968,I,0.375,0.290,0.095,0.2875,0.1230,0.0605,0.0800,6
3969,I,0.380,0.300,0.090,0.2770,0.1655,0.0625,0.0820,6
3971,I,0.400,0.295,0.095,0.2520,0.1105,0.0575,0.0660,6
4164,I,0.390,0.290,0.100,0.2845,0.1255,0.0635,0.0810,7

In [28]:
# first we try to groupby the sex, let's check how many different values this feature can have 
df['sex'].unique()

array(['M', 'F', 'I'], dtype=object)

In [29]:
# we can also see the count of different values with this command
df['sex'].nunique()

3

In [30]:
df.groupby('sex')   # Note that this returns back to us a groupby object. It doesn't actually 
                    # return to us anything useful until we perform some aggregation on it.

In [31]:
# Group by sex column
groupby_obj = df.groupby('sex')

# Performing an aggregation by calculating the mean
groupby_obj.mean()

,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [32]:
groupby_obj.max()

,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
sex,,,,,,,,
F,0.815,0.65,1.130,2.6570,1.4880,0.5900,1.005,29
I,0.725,0.55,0.220,2.0495,0.7735,0.4405,0.655,21
M,0.780,0.63,0.515,2.8255,1.3510,0.7600,0.897,27

In [33]:
groupby_obj.count()

,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
sex,,,,,,,,
F,1307,1307,1307,1307,1307,1307,1307,1307
I,1342,1342,1342,1342,1342,1342,1342,1342
M,1528,1528,1528,1528,1528,1528,1528,1528

In [34]:
df.groupby('sex').count()['length']

sex
F    1307
I    1342
M    1528
Name: length, dtype: int64

In [35]:
# Note we can also group by multiple columns by passing them in a list. It will group by 
# the first column passed in first, and then the second after that (i.e. it will group by 
# the second within the group by of the first). 
df.groupby(['sex', 'n_rings']).count()['weight_whole']

sex  n_rings
F    5            4
     6           16
     7           44
     8          122
     9          238
               ...
M    22           3
     23           3
     24           1
     26           1
     27           1
Name: weight_whole, Length: 68, dtype: int64

In [36]:
df.sort_values('length').head(15) # Note: this is ascending by default.
# df.sort_values('length', ascending=False) # here we change ascending to false.

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
236,I,0.075,0.055,0.010,0.0020,0.0010,0.0005,0.0015,1
238,I,0.110,0.090,0.030,0.0080,0.0025,0.0020,0.0030,3
2114,I,0.130,0.095,0.035,0.0105,0.0050,0.0065,0.0035,4
237,I,0.130,0.100,0.030,0.0130,0.0045,0.0030,0.0040,3
1986,I,0.135,0.130,0.040,0.0290,0.0125,0.0065,0.0080,4
1429,I,0.140,0.105,0.035,0.0140,0.0055,0.0025,0.0040,3
3899,I,0.140,0.105,0.035,0.0145,0.0050,0.0035,0.0050,4
719,I,0.150,0.100,0.025,0.0150,0.0045,0.0040,0.0050,2
2381,M,0.155,0.115,0.025,0.0240,0.0090,0.0050,0.0075,5
696,I,0.155,0.105,0.050,0.0175,0.0050,0.0035,0.0050,4
526,M,0.155,0.110,0.040,0.0155,0.0065,0.0030,0.0050,3
720,I,0.160,0.110,0.025,0.0180,0.0065,0.0055,0.0050,3
239,I,0.160,0.120,0.035,0.0210,0.0075,0.0045,0.0050,5
1987,I,0.160,0.110,0.025,0.0195,0.0075,0.0050,0.0060,4
3902,I,0.160,0.120,0.020,0.0180,0.0075,0.0045,0.0050,4

In [37]:
# Sort by multiple columns
df.sort_values(['length', 'diameter'], ascending=False).head(15) # ascending=False will apply to both columns.

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,n_rings
1428,F,0.815,0.650,0.250,2.2550,0.8905,0.4200,0.7975,14
2334,F,0.800,0.630,0.195,2.5260,0.9330,0.5900,0.6200,23
1209,F,0.780,0.630,0.215,2.6570,1.4880,0.4985,0.5860,11
3715,M,0.780,0.600,0.210,2.5480,1.1945,0.5745,0.6745,11
1763,M,0.775,0.630,0.250,2.7795,1.3485,0.7600,0.5780,12
2090,M,0.775,0.570,0.220,2.0320,0.7350,0.4755,0.6585,17
1762,M,0.770,0.620,0.195,2.5155,1.1155,0.6415,0.6420,12
4148,M,0.770,0.605,0.175,2.0505,0.8005,0.5260,0.3550,11
2625,M,0.770,0.600,0.215,2.1945,1.0515,0.4820,0.5840,10
1052,M,0.765,0.600,0.220,2.3020,1.0070,0.5090,0.6205,12
2624,M,0.765,0.585,0.180,2.3980,1.1280,0.5120,0.5335,12
1985,M,0.760,0.605,0.215,2.1730,0.8010,0.4915,0.6460,13
3896,M,0.760,0.575,0.190,1.8290,0.7035,0.3860,0.5600,14
1207,F,0.755,0.625,0.210,2.5050,1.1965,0.5130,0.6785,11
1208,M,0.755,0.580,0.205,2.0065,0.8295,0.4015,0.5950,10

In [38]:
# we can rename columns with `.rename()`
df.rename(columns={'n_rings': 'nr_rings'}, inplace=True)
df.head()

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,nr_rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [39]:
# with `.eval()` we can create new columns
# remember that in the description it is stated that the age of the snails can be calculated by adding 1.5 to the nr. of rings
df.eval('age = nr_rings + 1.5', inplace = True)
df.columns

Index(['sex', 'length', 'diameter', 'height', 'weight_whole', 'weight_shucked',
       'viscera', 'shell', 'nr_rings', 'age'],
      dtype='object')

In [40]:
df.eval('weight_per_hight = weight_whole / diameter', inplace = True)
df.columns

Index(['sex', 'length', 'diameter', 'height', 'weight_whole', 'weight_shucked',
       'viscera', 'shell', 'nr_rings', 'age', 'weight_per_hight'],
      dtype='object')

In [41]:
# the age is our newly created feature, therefore "nr_rings" does not contain any further information
# with axis=1 we define that we are dropping a column, not a row
# by default it would be axis=0
df.drop('nr_rings', axis=1)

,sex,length,diameter,height,weight_whole,weight_shucked,viscera,shell,age,weight_per_hight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,16.5,1.408219
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,8.5,0.850943
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,10.5,1.611905
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,11.5,1.413699
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,8.5,0.803922
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,12.5,1.971111
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,11.5,2.195455
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,10.5,2.475789
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,11.5,2.256701
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,13.5,3.510811

In [42]:
df.columns # Wait, the nr_rings column is still there... why? 
           # It's because we didn't tell it drop inplace.

Index(['sex', 'length', 'diameter', 'height', 'weight_whole', 'weight_shucked',
       'viscera', 'shell', 'nr_rings', 'age', 'weight_per_hight'],
      dtype='object')

In [43]:
df.drop('nr_rings', inplace=True, axis=1)

In [44]:
df.columns

Index(['sex', 'length', 'diameter', 'height', 'weight_whole', 'weight_shucked',
       'viscera', 'shell', 'age', 'weight_per_hight'],
      dtype='object')

In [45]:
# Notice the addition of the inplace argument here. 
# if you try to fill nans will some value: the first argument is the inserted value
df.fillna(-1, inplace=True)
# dropna() will drop the whole row, if nans are present
df.dropna(inplace=True)

In [46]:
df['length'] <= 0.3

0       False
1       False
2       False
3       False
4       False
        ...
4172    False
4173    False
4174    False
4175    False
4176    False
Name: length, Length: 4177, dtype: bool

In [47]:
df['length'] <= 0.3

0       False
1       False
2       False
3       False
4       False
        ...
4172    False
4173    False
4174    False
4175    False
4176    False
Name: length, Length: 4177, dtype: bool

In [48]:
df.groupby('sex').count()['age']

sex
F    1307
I    1342
M    1528
Name: age, dtype: int64