# Combining Datasets with pandas

## Learning Objectives

At the end of this notebook you should be able to
- combine DataFrames with pandas
- describe the different joining methods (how to join DataFrames)

Pandas functions that allow us to combine two sets of data include the use of `pd.merge()`, `df.join()`, `df.merge()`, and `pd.concat()`. For the most part, these do largely the same things (although you'll notice the slight syntax difference with `merge()` and `concat()` being able to be called via the pandas module and `merge()` and `join()` being able to be called on a DataFrame instance). There are some cases where one of these might be better than another in terms of writing less code or performing some kind of data combination in an easier way. The major differences between these, though, largely depend on what they do by default when you try to combine different data. By default, `merge()` looks to join on common columns, `join()` on common indices, and `concat()` by just appending on a given axis.

You can find more detail about the differences between all three of these in the [docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html). We'll look at some examples below.

In [4]:
# We'll go back to our wine data set. Who doesn't love wine?
import pandas as pd
wine_df = pd.read_csv('data/winequality-red.csv', delimiter=';')
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [2]:
# A glance at the values of the quality of wine in the DataFrame
wine_df.quality.unique()

array([5, 6, 7, 4, 8, 3])

In [3]:
# get_dummies is a method called on the pandas module - you simply pass in a pandas Series 
# or DataFrame, and it will convert a categorical variable into dummy/indicator variables. 
quality_dummies = pd.get_dummies(wine_df.quality, prefix='quality')
quality_dummies.head()

   quality_3  quality_4  quality_5  quality_6  quality_7  quality_8
0      False      False       True      False      False      False
1      False      False       True      False      False      False
2      False      False       True      False      False      False
3      False      False      False       True      False      False
4      False      False       True      False      False      False

Now let's look at the `join()` method. Remember, this joins on indices by default. This means that we can simply join our quality dummies DataFrame back to our original wine DataFrame with the following...

In [4]:
joined_df = wine_df.join(quality_dummies)
joined_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False,False,True,False,False,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False,False,True,False,False,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False,False,True,False,False,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False,False,False,True,False,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False,False,True,False,False,False

The arguments of `.join` are the following: 
````
DataFrame.join(self, other, on=None, how='left', lsuffix='', rsuffix='', sort=False)
````
With `how` we can specify which join method we want to use.

The how argument to merge specifies how to determine which keys are to be included in the resulting table. If a key combination does not appear in either the left or right tables, the values in the joined table will be NA. Here is a summary of the how options and their SQL equivalent names:

Merge method | SQL Join Name | Description
---|---|---
left| LEFT OUTER JOIN | Use keys from left frame only
right | RIGHT OUTER JOIN | Use keys from right frame only
outer | FULL OUTER JOIN | Use union of keys from both frames
inner | INNER JOIN | Use intersection of keys from both frames


You can also think of it as set theory and use Venn diagrams to illustrate what happens in each method.

![Join Methods](./images/join_types.png)

Let's now look at concat.
Similar to `join` we can  specify the method we want to use combine the datasets.

Different from join and merge, which by default operate on columns, concat can define whether to operate on columns or rows.
In the images below, you can see the differences, if axis is set as 0 or 1.

**Concat with axis=0:**
![Concat Axis 0](./images/concat_axis_0.png)

---

**Concat with axis=1:**
![Concat Axis 1](./images/concat_axis_1.png)

(The pictures were part of a blog post, which is no longer available)

In [5]:
joined_df2 = pd.concat([quality_dummies, wine_df], axis=1)
joined_df2.head()

,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,True,False,False,False,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,False,False,True,False,False,False,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,False,False,True,False,False,False,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,False,False,False,True,False,False,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,False,False,True,False,False,False,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Let's read in a different data set, since we're looking at combining multiple data sources.

In [6]:
import pandas as pd 
red_wines_df = pd.read_csv('data/winequality-red.csv', delimiter=';')
white_wines_df = pd.read_csv('data/winequality-white.csv', delimiter=';')

In [7]:
red_wines_df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [8]:
white_wines_df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [9]:
red_wines_quality_df = red_wines_df.groupby('quality').mean()['fixed acidity'].reset_index()
red_wines_quality_df.head()

   quality  fixed acidity
0        3       8.360000
1        4       7.779245
2        5       8.167254
3        6       8.347179
4        7       8.872362

In [10]:
white_wines_quality_df = white_wines_df.groupby('quality').mean()['fixed acidity'].reset_index()
white_wines_quality_df.head()

   quality  fixed acidity
0        3       7.600000
1        4       7.129448
2        5       6.933974
3        6       6.837671
4        7       6.734716

In [11]:
pd.merge(red_wines_quality_df, white_wines_quality_df, on=['quality'], suffixes=[' red', ' white'])

   quality  fixed acidity red  fixed acidity white
0        3           8.360000             7.600000
1        4           7.779245             7.129448
2        5           8.167254             6.933974
3        6           8.347179             6.837671
4        7           8.872362             6.734716
5        8           8.566667             6.657143

In [12]:
pd.concat([red_wines_quality_df, white_wines_quality_df['fixed acidity']], axis='columns', join='inner')

   quality  fixed acidity  fixed acidity
0        3       8.360000       7.600000
1        4       7.779245       7.129448
2        5       8.167254       6.933974
3        6       8.347179       6.837671
4        7       8.872362       6.734716
5        8       8.566667       6.657143

In [13]:
red_wines_quality_df.join(white_wines_quality_df, lsuffix='red', rsuffix='white')

   qualityred  fixed acidityred  qualitywhite  fixed aciditywhite
0           3          8.360000             3            7.600000
1           4          7.779245             4            7.129448
2           5          8.167254             5            6.933974
3           6          8.347179             6            6.837671
4           7          8.872362             7            6.734716
5           8          8.566667             8            6.657143

Please try out to generate the table above using the methods `.join()` and `.concat()`.

## Check your understanding

1. Please join the two given DataFrames (df1 and df2) along rows and merge with the third (df3) DataFrame along the common column id.

In [8]:
df1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Erika Raaf', 'Nadja Berens', 'Florentin Kleist', 'Dorothea Eibl', 'Gerhard Bihlmeier'], 
        'subject': ['Math', 'Biology', 'Biology', 'English', 'Philosophy']})
print('df1: ',df1.head())
df2 = pd.DataFrame({
        'student_id': ['S6', 'S7', 'S8', 'S9', 'S10'],
        'name': ['Franz Xaver Schild', 'Ann-Kathrin Heiny', 'Jens Hüls', 'Vera Kagan', 'Paula Brodersen'], 
        'subject': ['Chemistry', 'Economics', 'Math', 'Math', 'Social Science']})
print('df2: ', df2.head())
df3 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'marks': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})
print('df3: ', df3.head(10))

df1:    student_id               name     subject
0         S1         Erika Raaf        Math
1         S2       Nadja Berens     Biology
2         S3   Florentin Kleist     Biology
3         S4      Dorothea Eibl     English
4         S5  Gerhard Bihlmeier  Philosophy
df2:    student_id                name         subject
0         S6  Franz Xaver Schild       Chemistry
1         S7   Ann-Kathrin Heiny       Economics
2         S8           Jens Hüls            Math
3         S9          Vera Kagan            Math
4        S10     Paula Brodersen  Social Science
df3:    student_id  marks
0         S1     23
1         S2     45
2         S3     12
3         S4     67
4         S5     21
5         S7     55
6         S8     33
7         S9     14
8        S10     56
9        S11     83

In [7]:
# Join df1 and df2 by rows
result = pd.concat([df1, df2])

# Merge with df3 on 'student_id'
result = result.merge(df3, on='student_id')

print('Result:', result.head(11))

Result:   student_id               name         subject  marks
0         S1         Erika Raaf            Math     23
1         S2       Nadja Berens         Biology     45
2         S3   Florentin Kleist         Biology     12
3         S4      Dorothea Eibl         English     67
4         S5  Gerhard Bihlmeier      Philosophy     21
5         S7  Ann-Kathrin Heiny       Economics     55
6         S8          Jens Hüls            Math     33
7         S9         Vera Kagan            Math     14
8        S10    Paula Brodersen  Social Science     56

If you look at the resulting DataFrame, do you notice anything unusual? And if so, could there be any logical reason why it happened?

I miss Fanz Xver Schild (S6) in the concatenated and merged list!
The issue was created by df3, because S6 is missing and an additional S11 is present.

2. You have received some weather data (temperature) of the last year. For each month the average temperature was measured, only for a few months the maximum temperature could be measured. Anyway, you want to combine these two data without losing any information.

(Extra question: Can you fill in the average max. Temperature for the missing values in the Column `Max TemperatureF`)

In [22]:
weather_mean_data = {'Mean TemperatureF': [53.1, 70., 34.93548387, 28.71428571, 32.35483871, 72.87096774, 70.13333333, 35., 62.61290323, 39.8, 55.4516129 , 63.76666667],
                     'Month': ['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep']}
weather_max_data = {'Max TemperatureF': [68, 89, 91, 84], 'Month': ['Jan', 'Apr', 'Jul', 'Oct']}

In [23]:
df1 = pd.DataFrame(weather_mean_data)
df2 = pd.DataFrame(weather_max_data)
df1.join(df2.set_index('Month'), on='Month', how='outer', lsuffix='_left', rsuffix='_right')

    Mean TemperatureF Month  Max TemperatureF
0           53.100000   Apr              89.0
1           70.000000   Aug               NaN
2           34.935484   Dec               NaN
3           28.714286   Feb               NaN
4           32.354839   Jan              68.0
5           72.870968   Jul              91.0
6           70.133333   Jun               NaN
7           35.000000   Mar               NaN
8           62.612903   May               NaN
9           39.800000   Nov               NaN
10          55.451613   Oct              84.0
11          63.766667   Sep               NaN

In [ ]:
# pandas provides DataFrame, a 2D table-like structure similar to a spreadsheet.
import pandas as pd

# Imports the LinearRegression class from scikit-learn.
# This class implements ordinary least squares linear regression (fits y = a * x + b).
from sklearn.linear_model import LinearRegression

# Imports NumPy for numeric arrays.
# In this script np is not strictly used, but imported often by habit.
import numpy as np

# --- INPUT DATA ---
# Data definition (dictionaries)
weather_mean_data = {
    'Mean TemperatureF': [53.1, 70., 34.93548387, 28.71428571, 32.35483871,
                          72.87096774, 70.13333333, 35., 62.61290323, 39.8,
                          55.4516129, 63.76666667],
    'Month': ['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar',
              'May', 'Nov', 'Oct', 'Sep']
}

weather_max_data = {
    'Max TemperatureF': [68, 89, 91, 84],
    'Month': ['Jan', 'Apr', 'Jul', 'Oct']
}

# --- CREATE DATAFRAMES ---
# Convert dictionaries to DataFrames
df_mean = pd.DataFrame(weather_mean_data)
df_max = pd.DataFrame(weather_max_data)

# --- MERGE (lossless) ---
# Merge the two tables on 'Month' using a left join
# merge combines rows from df_mean and df_max by matching the values in the "Month" column.
# on="Month": match rows where the Month values are equal.
# how="left": left-join — keep all rows from the left table (df_mean). If there is a matching row in df_max, its Max TemperatureF is added. If not, Max TemperatureF will be NaN (pandas’ "missing value").
# Why left? Because you want to keep all months for which you have mean temperatures and just attach max where available.
df = df_mean.merge(df_max, on="Month", how="left")

# Prints the merged table to the console so you can inspect it.
# Good practice when learning.
print("Merged Data:")
print(df)

# ----------------------------------------------------------------
# --- FILL MISSING VALUES IN 'Max TemperatureF' USING REGRESSION ---
# ----------------------------------------------------------------

# Select rows where Max TemperatureF IS known
# dropna(subset=[...]) returns a new DataFrame with rows that have non-missing values in the specified column(s).
# known now contains only the rows where we measured Max TemperatureF.
# These rows will be used to train the regression model.
# Why? You can only train a supervised model on rows where both input (Mean) and target (Max) are present.
known = df.dropna(subset=["Max TemperatureF"])

# Prepare X (features) and y (target) for training
# X_train is a DataFrame with one column: Mean TemperatureF.
# y_train is a Series with the corresponding Max TemperatureF values.
# X_train is the input matrix (features) used to predict.
# Here we use only one feature: the mean temperature.
# Note the double bracket [[...]] — this creates a DataFrame with a single column (shape (n_samples, 1)), which scikit-learn expects.
# y_train is the target vector (the values to predict):
# known max temperatures. y_train is a pandas Series (shape (n_samples,)).
# Important: scikit-learn expects X to be 2-dimensional (even when you have one feature) and y can be 1-dimensional.
X_train = known[["Mean TemperatureF"]]
y_train = known["Max TemperatureF"]

# Train linear model
# Create the regression model and train it on the known data.
# model = LinearRegression() creates an instance of the linear regression model.
# model.fit(X_train, y_train) fits the line Max ≈ a * Mean + b to the training points by minimizing squared errors (ordinary least squares).
# After .fit(), the model has attributes:
# model.coef_ — slope(s) a (array).
# model.intercept_ — intercept b (scalar).
# model.score(X_train, y_train) returns the R² on the training set (good to check fit quality).
model = LinearRegression()
model.fit(X_train, y_train)

# You could print these if you want to inspect the fit:
import ipywidgets as widgets
from IPython.display import display

# Creation of buttons
button_yes = widgets.Button(description="Yes")
button_no = widgets.Button(description="No")

output = widgets.Output()

def on_button_yes(b):
    with output:
        print("Coef:", model.coef_)
        print("Intercept:", model.intercept_)
        print("R^2 on training:", model.score(X_train, y_train))

def on_button_no(b):
    with output:
        print("Model details not shown.")

button_yes.on_click(on_button_yes)
button_no.on_click(on_button_no)

display(widgets.Label("Show model details?"))
display(button_yes, button_no, output)


# Predict missing values
# Select rows where Max is missing (to predict)
# df["Max TemperatureF"].isna() returns a boolean Series: True for rows where Max is missing.
# df[ ... ] filters the DataFrame to only those rows.
# [[ "Mean TemperatureF" ]] selects only the feature column;
# result is a DataFrame shaped (n_missing, 1) ready for model.predict.
missing = df[df["Max TemperatureF"].isna()][["Mean TemperatureF"]]
# Predict missing Max values
# model.predict(...) returns a NumPy array of predicted Max TemperatureF values corresponding to each row in missing.
# The length of predicted_values equals number of missing rows.
predicted_values = model.predict(missing)

# Fill predicted values into DataFrame
# Insert predicted values into original DataFrame
# .loc[row_selector, column_name] = values assigns values to selected cells.
# df["Max TemperatureF"].isna() selects the rows where Max was missing. We assign the predicted_values into the "Max TemperatureF" column for exactly those rows.
# pandas aligns assignment by position here because the boolean mask selects the exact rows in order and predicted_values is an array of matching length.
df.loc[df["Max TemperatureF"].isna(), "Max TemperatureF"] = predicted_values

# Print filled DataFrame
# Shows the table with estimated max values filled in.
print("\nFilled Data with Estimated Maximum Temperatures:")
print(df)

# OPTIONAL: Round values for nicer output
# Round values for nicer output
df["Max TemperatureF"] = df["Max TemperatureF"].round(1)
print("\nFinal Output:")
print(df)

Merged Data:
    Mean TemperatureF Month  Max TemperatureF
0           53.100000   Apr              89.0
1           70.000000   Aug               NaN
2           34.935484   Dec               NaN
3           28.714286   Feb               NaN
4           32.354839   Jan              68.0
5           72.870968   Jul              91.0
6           70.133333   Jun               NaN
7           35.000000   Mar               NaN
8           62.612903   May               NaN
9           39.800000   Nov               NaN
10          55.451613   Oct              84.0
11          63.766667   Sep               NaN

Label(value='Show model details?')

Button(description='Yes', style=ButtonStyle())

Button(description='No', style=ButtonStyle())

Output()

Filled Data with Estimated Maximum Temperatures:
    Mean TemperatureF Month  Max TemperatureF
0           53.100000   Apr         89.000000
1           70.000000   Aug         92.450760
2           34.935484   Dec         72.434245
3           28.714286   Feb         68.882885
4           32.354839   Jan         68.000000
5           72.870968   Jul         91.000000
6           70.133333   Jun         92.526873
7           35.000000   Mar         72.471074
8           62.612903   May         88.233849
9           39.800000   Nov         75.211145
10          55.451613   Oct         84.000000
11          63.766667   Sep         88.892473

Final Output:
    Mean TemperatureF Month  Max TemperatureF
0           53.100000   Apr              89.0
1           70.000000   Aug              92.5
2           34.935484   Dec              72.4
3           28.714286   Feb              68.9
4           32.354839   Jan              68.0
5           72.870968   Jul              91.0
6           70.133333   Jun              92.5
7           35.000000   Mar              72.5
8           62.612903   May              88.2
9           39.800000   Nov              75.2
10          55.451613   Oct              84.0
11          63.766667   Sep              88.9

Evaluation:

R² > 0.8 → good fit, especially for simple linear regression.

BUT be careful: you only had 4 training points (Jan, Apr, Jul, Oct).
→ With so few points, R² is not very reliable; the model could be highly distorted.