# Final Exercise on pandas

In the last notebooks you have learned a lot of new things, and you have also been able to practice them. Only by practicing will you become more confident in using the methods and hopefully it will stick in your mind better.
Thus, here is another exercise on pandas, in which you are asked to do a few different things with the new tools we learned about (methods for combining records, `pd.cut` and `pivot tables`).

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory.

1. Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

In [1]:
import pandas as pd

In [30]:
red = pd.read_csv("data/winequality-red.csv", sep=';')
white = pd.read_csv('data/winequality-white.csv', sep=';')

In [31]:
print("Red wine shape:", red.shape)
print("White wine shape:", white.shape)

Red wine shape: (1599, 12)
White wine shape: (4898, 12)

2. Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data.

In [32]:
print('red:', red.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
red: None

In [33]:
print('white:', white.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
white: None

In [ ]:
red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [36]:
white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

3. I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

3.1 Mean alcohol content

In [37]:

mean_red_alc = red["alcohol"].mean()
mean_white_alc = white["alcohol"].mean()

In [38]:
print("Mean red alcohol:", mean_red_alc)

Mean red alcohol: 10.422983114446529

In [39]:
print("Mean white alcohol:", mean_white_alc)

Mean white alcohol: 10.514267047774602

3.2 Create boolean Series: alcohol > mean

In [44]:
red_high_alc = red["alcohol"] > mean_red_alc
white_high_alc = white["alcohol"] > mean_white_alc
# Rename the Series
red_high_alc.name = "high_alcohol"
white_high_alc.name = "high_alcohol"

print(red_high_alc.head(20))
print(white_high_alc.head(20))

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11     True
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
Name: high_alcohol, dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12     True
13     True
14    False
15     True
16    False
17     True
18     True
19    False
Name: high_alcohol, dtype: bool

3.3 Merge Series onto DataFrame

In [ ]:
# Method 1: join()
red_join = red.join(red_high_alc)
white_join = white.join(white_high_alc)
red_join.head()

In [47]:
red_join.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [48]:
white_join.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

In [46]:
# Method 2: concat()
red_concat = pd.concat([red, red_high_alc], axis=1)
white_concat = pd.concat([white, white_high_alc], axis=1)

In [49]:
red_concat.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [50]:
white_join.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

3.4 Return rows with alcohol ABOVE mean

In [51]:
red_above_mean = red_join[red_join["high_alcohol"]]
white_above_mean = white_join[white_join["high_alcohol"]]

In [52]:
print("\nRed wines above mean alcohol:\n", red_above_mean.head())
print("\nWhite wines above mean alcohol:\n", white_above_mean.head())

Red wines above mean alcohol:
     fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
9             7.5             0.500         0.36             6.1      0.071
11            7.5             0.500         0.36             6.1      0.071
16            8.5             0.280         0.56             1.8      0.092
31            6.9             0.685         0.00             2.5      0.105
36            7.8             0.600         0.14             2.4      0.086

    free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
9                  17.0                 102.0   0.9978  3.35       0.80
11                 17.0                 102.0   0.9978  3.35       0.80
16                 35.0                 103.0   0.9969  3.30       0.75
31                 22.0                  37.0   0.9966  3.46       0.57
36                  3.0                  15.0   0.9975  3.42       0.60

    alcohol  quality  high_alcohol
9      10.5        5          True
11     10.5        5          True
16     10.5        7          True
31     10.6        6          True
36     10.8        6          True

White wines above mean alcohol:
     fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
9             8.1              0.22         0.43            1.50      0.044
10            8.1              0.27         0.41            1.45      0.033
12            7.9              0.18         0.37            1.20      0.040
13            6.6              0.16         0.40            1.50      0.044
15            6.6              0.17         0.38            1.50      0.032

    free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
9                  28.0                 129.0   0.9938  3.22       0.45
10                 11.0                  63.0   0.9908  2.99       0.56
12                 16.0                  75.0   0.9920  3.18       0.63
13                 48.0                 143.0   0.9912  3.54       0.52
15                 28.0                 112.0   0.9914  3.25       0.55

    alcohol  quality  high_alcohol
9      11.0        6          True
10     12.0        5          True
12     10.8        5          True
13     12.4        7          True
15     11.4        7          True

4. Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins (not equal to quintiles) based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in** the top bin in terms of fixed acidity.

In [ ]:
# Cutting back next month: acidity bins
red_bins = pd.cut(red["fixed acidity"], bins=5, labels=False)
white_bins = pd.cut(white["fixed acidity"], bins=5, labels=False)

In [55]:
red_bins.name = "acidity_bin"
white_bins.name = "acidity_bin"

In [57]:
# Join
red_acid = red.join(red_bins)
white_acid = white.join(white_bins)

In [58]:
red_acid.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,acidity_bin
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,2
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [59]:
white_join.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

In [60]:
# Concat (for practice)
red_acid2 = pd.concat([red, red_bins], axis=1)
white_acid2 = pd.concat([white, white_bins], axis=1)

In [61]:
red_acid2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,acidity_bin
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,2
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [62]:
white_acid2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,acidity_bin
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,2
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1

In [64]:
# Return rows NOT in top bin (bin = 4)
red_low_acid = red_acid[red_acid["acidity_bin"] != 4]
white_low_acid = white_acid[white_acid["acidity_bin"] != 4]

In [65]:
print("\nRed wines NOT in top acidity bin:\n", red_low_acid.head())
print("\nWhite wines NOT in top acidity bin:\n", white_low_acid.head())

Red wines NOT in top acidity bin:
    fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality  acidity_bin
0      9.4        5            1
1      9.8        5            1
2      9.8        5            1
3      9.8        6            2
4      9.4        5            1

White wines NOT in top acidity bin:
    fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.0              0.27         0.36            20.7      0.045
1            6.3              0.30         0.34             1.6      0.049
2            8.1              0.28         0.40             6.9      0.050
3            7.2              0.23         0.32             8.5      0.058
4            7.2              0.23         0.32             8.5      0.058

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 45.0                 170.0   1.0010  3.00       0.45
1                 14.0                 132.0   0.9940  3.30       0.49
2                 30.0                  97.0   0.9951  3.26       0.44
3                 47.0                 186.0   0.9956  3.19       0.40
4                 47.0                 186.0   0.9956  3.19       0.40

   alcohol  quality  acidity_bin
0      8.8        6            1
1      9.5        6            1
2     10.1        6            2
3      9.9        6            1
4      9.9        6            1

5. Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this.

Pivot Tables (alcohol content by quality)

In [66]:
# For wines above mean alcohol
# ----------------------------------------
pivot_red_alc = red_above_mean.pivot_table(
    index="quality",
    values="alcohol",
    aggfunc="mean"
)

pivot_white_alc = white_above_mean.pivot_table(
    index="quality",
    values="alcohol",
    aggfunc="mean"
)

In [68]:
print("\n== Average alcohol for high-alcohol RED wines by quality ==\n", pivot_red_alc)

== Average alcohol for high-alcohol RED wines by quality ==
            alcohol
quality
3        10.866667
4        11.295000
5        11.088686
6        11.437214
7        11.708236
8        12.368750

In [69]:
print("\n== Average alcohol for high-alcohol WHITE wines by quality ==\n", pivot_white_alc)

== Average alcohol for high-alcohol WHITE wines by quality ==
            alcohol
quality
3        11.525000
4        11.425532
5        11.211099
6        11.604366
7        11.924761
8        12.139437
9        12.625000

6. Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` bin. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` bin. 
 
  Use a `pivot table` to solve this.

In [71]:
# Pivot Tables for acidity decision
# ----------------------------------------
pivot_red_acid = red_acid.pivot_table(
    index=["quality", "acidity_bin"],
    values="alcohol",
    aggfunc="mean"
)

pivot_white_acid = white_acid.pivot_table(
    index=["quality", "acidity_bin"],
    values="alcohol",
    aggfunc="mean"
)

In [72]:
print("\n== RED: mean alcohol by quality + acidity bin ==\n", pivot_red_acid)

== RED: mean alcohol by quality + acidity bin ==
                        alcohol
quality acidity_bin
3       0             9.875000
        1            10.500000
        2             9.150000
        3             9.000000
4       0            11.006667
        1             9.981667
        2             9.920000
        3             9.966667
5       0            10.304245
        1             9.773727
        2             9.846429
        3            10.229630
        4            12.050000
6       0            11.223529
        1            10.431985
        2            10.687395
        3            10.480952
        4            10.240000
7       0            12.195402
        1            11.486413
        2            11.383333
        3            10.809524
        4             9.866667
8       0            13.633333
        1            11.937500
        2            11.916667
        3             9.800000

In [73]:
print("\n== WHITE: mean alcohol by quality + acidity bin ==\n", pivot_white_acid)

== WHITE: mean alcohol by quality + acidity bin ==
                        alcohol
quality acidity_bin
3       0             9.850000
        1            10.472727
        2            10.540000
        3             9.650000
4       0            10.786364
        1            10.102564
        2            10.126471
        3             9.900000
5       0            10.136635
        1             9.732173
        2            10.176452
        3             9.700000
6       0            10.902765
        1            10.529056
        2            10.635247
        3             9.500000
        4            11.100000
7       0            12.021405
        1            11.303724
        2            10.988679
8       0            12.403030
        1            11.486364
        2            11.080000
9       1            12.625000
        2            10.400000